* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

header{
    height: 8dvh;
    width: 100%;
    background: rgba(231, 108, 31, 1);
}

.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 8px;
    max-width: 1440px;
    width: 90%;
}

/* region landing */
.landing{
    height: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.hero{
    background-image: url(./assets/img/landing-Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 508px;
    width: 100%;
    max-width: 1440px;

    img{
        position: relative;
        top: 75%;
        left: 45%;
    }
}

.landing_part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;
    height: 300px;
    width: 100%;
}

.underHero{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 16px;
    width: 100%;
}

.hero-text{
    font-size: 24px;
}
/* regionend */



#main-container{
    display: flex;
    align-items: flex-start;

    width: 100%;
    gap: 40px;
    padding: 0px 24px;

    #menu-dishes{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.menu-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    margin-bottom: 32px;
}

.menu-cards{
display: flex;
align-items: flex-start;

gap: 24px;
width: 100%;
max-width: 650px;
min-height: 140px;

padding: 12px;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.menu-cards img{
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}








footer{
    height: 8dvh;
    width: 100%;
    background: rgba(231, 108, 31, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}


aside{
    height: 100%;
    width: 350px;
    top: 8dvh;
    display: flex;
    justify-content: flex-end;

        #cart{
            background: rgba(54, 53, 52, 1);
            color: white;
            height: 750px;
            width: 390px;
            position: sticky;
            top: 0;
            border: 1px black solid;

            display: flex;
            justify-content: flex-end;
        }
    }